.event {
	width: 100%;
	border-radius: 10px;

	background-color: white;
	color: rgb(62, 132, 236);
	border: solid 1px rgb(62, 132, 236);

	font-family: 'Lato', sans-serif;
	font-size: 14px;

	padding: 10px;

	transition: 0.3s ease-in-out;
	overflow-y: scroll;
	word-wrap: break-word;

	scale: 100.5%;
}

.event::-webkit-scrollbar {
	width: 7px;
}

.event::-webkit-scrollbar-track {
	background: transparent;
}

.event::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: rgb(0, 100, 255);
}

.event::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 81, 203);
}

.event:hover {
	cursor: pointer;
	z-index: 100;
	background-color: rgb(225, 237, 255);
}

.eventTitle {
	font-weight: 600;
}

.eventTime {
}

.eventDescription {
	margin-top: 3px;
}
